#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    list-style: none;

}
nav ul li {
    display: block;
    padding: 0;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
nav ul li :hover{
    background-color: #7676ff;
    color: white;
    transition: 1s ease;
    border-radius: 30px;
}
nav ul li a{
    display: block;
    color: #7676ff;
    border: 1px solid #7676ff;
    margin: 0;
    padding:0;
    border-radius: 5px;
}